<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <title>Shareasy Recieve Files</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="receiver.css">
    <link rel="icon" href="favicon.png">
</head>

<body>
    </div>
    <section class="main">
        <div class="container" >
            <div class="content">
                <h1 class="title">
                <span class="title-word title-word-1">Reciever</span>
            </h1>
            <div class="part">
                <div id="join-container">Enter Room ID <input type="text" id="room">
                    <button id="join-button">Join</button>
                </div>

                <div >
                    Files :
                    <ol id="file-list">

                    </ol>
                </div>
            </div>
            <div class="signout-container">
                <form id="logoutForm" action="/logout" method="POST">
                    <button type="submit" class="signout-btn">Sign Out</button>
                </form>
            </div>
            </div>

            
        </div>
    </section>

    <script src="./socket.io/socket.io.js"></script>
    <script src="./reciever.js"></script>
</body>

</html>